.card:not(.border-0):not(.card-category) .badge-floating {
    left: -1px;
}

.badge-floating:not(.badge-floating-end) {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.badge-floating {
    position: absolute;
    top: 1.5rem;
    left: 0;
    z-index: 5;
}


.badge {
    display: inline-block;
    padding: 0.25em 0.5em;
    font-size: 0.75em;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.375rem;
}

