.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.085);
  border-radius: 1rem;

  .card-header {
    padding: 0.75rem 1.5rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.085);
  }
}

.card-hover {
  transition: border-color .2s ease-in-out,box-shadow .2s ease-in-out;
}

.card-img, .card-img-top, .card-img-bottom {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.card-img, .card-img-top {
  border-top-left-radius: calc(1rem - 1px);
  border-top-right-radius: calc(1rem - 1px);
}
.card-img, .card-img-top, .card-img-bottom {
  width: 100%;
}
.card-img>img, .card-img-top>img, .card-img-bottom>img {
  display: block;
  width: 100%;
}
