.toast {
  box-shadow: -0.0625rem 0 0.625rem 0 rgb(0 0 0 / 7%),
    0.3125rem 1.25rem 2.5rem 0 rgb(0 0 0 / 4%);
  border-color: transparent;
  width: 350px;
  max-width: 100%;
  font-size: 0.875rem;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e9e9f2;
  box-shadow: -0.0625rem 0 0.625rem 0 rgb(0 0 0 / 7%),
    0.3125rem 1.25rem 2.5rem 0 rgb(0 0 0 / 4%);
  border-radius: 0.75rem;
  transition: opacity 0.15s linear;

  .toast-header {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    color: #737491;
    background-color: rgba(255, 255, 255, 0.85);
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top-left-radius: calc(0.75rem - 1px);
    border-top-right-radius: calc(0.75rem - 1px);
  }

  .toast-body {
    padding: 1rem;
    word-wrap: break-word;
  }
}
