.pointer {
  cursor: pointer;
}

.border-0 {
  border: 0 !important;
}

.shadow-lg {
  box-shadow: -0.0625rem 0 0.625rem 0 rgb(0 0 0 / 7%),
    0.3125rem 1.25rem 2.5rem 0 rgb(0 0 0 / 4%) !important;
}

.text-muted {
  color: #9e9fb4 !important;
}

.fs-ms {
  font-size: 0.8125rem !important;
}

.border-bottom {
  border-bottom: 1px solid #e9e9f2 !important;
}
.border-light {
  border-color: rgba(255, 255, 255, 0.14) !important;
}

@media (min-width: 768px) {
  .pt-md-0 {
    padding-top: 0 !important;
  }
}
