<div class="container" id="search-bar">
    <div class="d-lg-flex align-items-center">
        <div class="d-sm-flex align-items-center flex-grow-1">
          <div class="mb-3 pb-1 w-100 mb-sm-4 me-sm-3">
            <label class="form-label" for="from-destination">Vehicle Type</label>
            <select class="form-control" id="from-destination">
              <option value="" disabled="" hidden="">Bike</option>
              <option value="Abu Dhabi, UAE">Bike</option>
              <option value="Abu Dhabi, UAE">Scooty</option>
              
            </select>
          </div>
          <div class="mb-3 pb-1 w-100 mb-sm-4 me-sm-3">
            <label class="form-label" for="to-destination">Vehicle Manufacturers</label>
            <select  class="form-control" id="to-destination">
              <option value="" selected="" disabled="" hidden="">Honda</option>
              <option value="Abu Dhabi, UAE">TVS</option>
              <option value="Amsterdam, NL">BAJAJ</option>
              <option value="Berlin, GER">HERO</option>
              <option value="Brussels, BE">YAMAHA</option>
              <option value="Buenos Aires, ARG">SUZUKI</option>
              <option value="Canberra, AU">KTM</option>
             
            </select>
          </div>
        </div>
        <div class="d-sm-flex align-items-center flex-grow-1">
          <div class="mb-3 pb-1 w-100 mb-sm-4 me-sm-3">
            <label class="form-label">Modal Number</label>
            <select  class="form-control" id="from-destination">
                <option value="" disabled="" hidden="">Upto 150cc</option>
                <option value="Abu Dhabi, UAE">Upto 150cc</option>
                <option value="Abu Dhabi, UAE">150cc - 250cc</option>
                <option value="Abu Dhabi, UAE">251cc - 350cc</option>
                <option value="Abu Dhabi, UAE">Above 350cc</option>

            </select>
          </div>
          <div class="mb-3 pb-1 w-100 mb-sm-4 me-sm-3">
            <label class="form-label">City</label>
            <select class="form-control" id="from-destination">
                <option value="" disabled="" hidden="">From where?</option>
                <option value="Abu Dhabi, UAE">Noida</option>
                <option value="Amsterdam, NL">Delhi</option>
                <option value="Berlin, GER">Gaziabad</option>
                <option value="Moscow, RU">Ranikhet</option>
                <option value="Stockholm, SW">Almora</option>
              </select>
          </div>
          <div class="text-center text-sm-start mt-2 mt-sm-4 mb-4">
            <button class="btn btn-primary" type="submit">Book</button>
          </div>
        </div>
      </div>
  </div>