:host ::ng-deep {
  .alert-container {
    position: fixed;
    right: 0;
    width: 25vw;
    box-shadow: -0.0625rem 0 0.625rem 0 rgb(0 0 0 / 7%),
      0.3125rem 1.25rem 2.5rem 0 rgb(0 0 0 / 4%);
    border-radius: 0.75rem;
    padding: 0.8rem;
    margin: 1rem;

    background-color: #fff !important;
    z-index: 999;
    .close {
      float: right;
      cursor: pointer;
    }
  }
  .alert-success {
    border-left: 0.25rem solid #8bc34a;
  }
  .alert-danger {
    border-left: 0.25rem solid #842029;
  }
  .alert-info {
    border-left: 0.25rem solid #055160;
  }
  .alert-warning {
    border-left: 0.25rem solid #664d03;
  }

  .slide-left {
    -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  /**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
  @-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-40px);
      transform: translateX(-40px);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-40px);
      transform: translateX(-40px);
    }
  }
}
