

<section class="p-5 ">
    <h2 class="h4 mb-3">Services</h2>
    <div class="row">
      <div class="col-md-3">
        <div class="card card-product card-hover">
          <span class="badge badge-floating rounded-pill rounded-start-0 bg-secondary">Washing</span>
          <a class="card-img-top" href="#">
            <img src="assets/img/services/02.jpg" alt="Product thumbnail"/>
          </a>
          <div class="card-body">
            <a class="meta-link fs-xs mb-1" href="#">Electronics</a>
            <h3 class="fs-md fw-medium mb-2">
              <a class="meta-link" href="#">Wireless Headphones</a>
            </h3>
            <del class="fs-sm text-muted me-1">$165.00</del>
            <span class="text-heading fw-semibold">$139.00</span>
          </div>
          <div class="card-footer text-right">
            
            
              
              <a class="btn-addtocart" href="#">
                <i-feather name="shopping-cart"></i-feather>
                <!-- <span class="btn-tooltip">To Cart</span> -->
              </a>
            
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-product card-hover">
          <span class="badge badge-floating rounded-pill rounded-start-0 bg-info">Basic Service</span>
          <a class="card-img-top" href="#">
            <img src="assets/img/services/02.jpg" alt="Product thumbnail"/>
          </a>
          <div class="card-body">
            <a class="meta-link fs-xs mb-1" href="#">Electronics</a>
            <h3 class="fs-md fw-medium mb-2">
              <a class="meta-link" href="#">Wireless Headphones</a>
            </h3>
            <del class="fs-sm text-muted me-1">$165.00</del>
            <span class="text-heading fw-semibold">$139.00</span>
          </div>
          <div class="card-footer text-right">
            
            
              
              <a class="btn-addtocart" href="#">
                <i-feather name="shopping-cart"></i-feather>
                <!-- <span class="btn-tooltip">To Cart</span> -->
              </a>
            
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-product card-hover">
          <span class="badge badge-floating rounded-pill rounded-start-0 bg-primary">Fault Inspection</span>
          <a class="card-img-top" href="#">
            <img src="assets/img/services/02.jpg" alt="Product thumbnail"/>
          </a>
          <div class="card-body">
            <a class="meta-link fs-xs mb-1" href="#">Electronics</a>
            <h3 class="fs-md fw-medium mb-2">
              <a class="meta-link" href="#">Wireless Headphones</a>
            </h3>
            <del class="fs-sm text-muted me-1">$165.00</del>
            <span class="text-heading fw-semibold">$139.00</span>
          </div>
          <div class="card-footer text-right">
            
            
              
              <a class="btn-addtocart" href="#">
                <i-feather name="shopping-cart"></i-feather>
                <!-- <span class="btn-tooltip">To Cart</span> -->
              </a>
            
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-product card-hover">
          <span class="badge badge-floating rounded-pill rounded-start-0 bg-success">Standard Service</span>
          <a class="card-img-top" href="#">
            <img src="assets/img/services/02.jpg" alt="Product thumbnail"/>
          </a>
          <div class="card-body">
            <a class="meta-link fs-xs mb-1" href="#">Electronics</a>
            <h3 class="fs-md fw-medium mb-2">
              <a class="meta-link" href="#">Wireless Headphones</a>
            </h3>
            <del class="fs-sm text-muted me-1">$165.00</del>
            <span class="text-heading fw-semibold">$139.00</span>
          </div>
          <div class="card-footer">            
              <a class="btn-addtocart" href="#">
                <i-feather name="shopping-cart"></i-feather> Add To Cart                
                <!-- <span class="btn-tooltip">To Cart</span> -->
              </a>
            
          </div>
        </div>
      </div>
    
    </div>
    <!-- Product card -->


 
</section>

