

<section class="p-5 ">
    <div class="row">
      <div class="col-lg-8 content py-4">
        <nav aria-label="breadcrumb">
          <ol class="py-1 my-2 breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="shop-ls.html">Shop</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
          </ol>
        </nav>
        <h1 class="mb-3 pb-4">Checkout</h1>
      
        <h2 class="h3 pb-3">Billing details</h2>
        <div class="row mb-4">
          <div class="col-sm-6 mb-3 pb-1">
            <label class="form-label" for="ch-fn">First name<sup class="text-danger ms-1">*</sup></label>
            <input class="form-control" type="text" id="ch-fn" required="">
          </div>
          <div class="col-sm-6 mb-3 pb-1">
            <label class="form-label" for="ch-ln">Last names<sup class="text-danger ms-1">*</sup></label>
            <input class="form-control" type="text" id="ch-ln" required="">
          </div>
          <div class="col-12 mb-3 pb-1">
            <label class="form-label" for="ch-company">Company name</label>
            <input class="form-control" type="text" id="ch-company">
          </div>
          <div class="col-12 mb-3 pb-1">
            <label class="form-label" for="ch-country">Country<sup class="text-danger ms-1">*</sup></label>
            <select class="form-select" id="ch-country" required="">
              <option value="" selected="" disabled="" hidden="">Choose country</option>
              <option value="Australia">Australia</option>
              <option value="Canada">Canada</option>
              <option value="Francee">France</option>
              <option value="Germany">Germany</option>
              <option value="Switzerland">Switzerland</option>
              <option value="USA">USA</option>
            </select>
          </div>
          <div class="col-12 mb-3 pb-1">
            <label class="form-label" for="ch-address">Street address<sup class="text-danger ms-1">*</sup></label>
            <input class="form-control" type="text" id="ch-address" placeholder="House number and street name" required="">
          </div>
          <div class="col-12 mb-3 pb-1">
            <input class="form-control" type="text" placeholder="Apartment, suite, unit, etc. (optional)">
          </div>
          <div class="col-12 mb-3 pb-1">
            <label class="form-label" for="ch-city">Town / City<sup class="text-danger ms-1">*</sup></label>
            <input class="form-control" type="text" id="ch-city" required="">
          </div>
          <div class="col-12 mb-3 pb-1">
            <label class="form-label" for="ch-county">County</label>
            <input class="form-control" type="text" id="ch-county">
          </div>
          <div class="col-12 mb-3 pb-1">
            <label class="form-label" for="ch-postcode">Postcode<sup class="text-danger ms-1">*</sup></label>
            <input class="form-control" type="text" id="ch-postcode" required="">
          </div>
          <div class="col-sm-6 mb-3 pb-1">
            <label class="form-label" for="ch-phone">Phone<sup class="text-danger ms-1">*</sup></label>
            <input class="form-control" type="text" id="ch-phone" required="">
          </div>
          <div class="col-sm-6 mb-3 pb-1">
            <label class="form-label" for="ch-email">Email address<sup class="text-danger ms-1">*</sup></label>
            <input class="form-control" type="email" id="ch-email" required="">
          </div>
        </div>
        <h2 class="h3 pb-3">Additional information</h2>
        <div class="mb-3 pb-1 pb-3 pb-lg-5">
          <label class="form-label" for="ch-order-notes">Order notes</label>
          <textarea class="form-control" id="ch-order-notes" rows="5" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
        </div>
      </div>
      <div class="col-lg-4 sidebar bg-secondary pt-5 ps-lg-4 pb-md-2">
        <div class="ps-lg-4 mb-3 pb-5">
          <h2 class="h4 pb-3">Your cart</h2>
          <div class="d-flex align-items-center mb-4"><a class="d-block flex-shrink-0" href="shop-single.html"><img class="rounded" src="assets/img/05.jpg" alt="Product" width="60"></a>
            <div class="w-100 ps-2 ms-1">
              <div class="d-flex align-items-center justify-content-between">
                <div class="me-3">
                  <h4 class="nav-heading fs-md mb-1"><a class="fw-medium" href="shop-single.html">Smart Watch Series 5</a></h4>
                  <div class="d-flex align-items-center fs-sm"><span class="me-2">$364.99</span><span class="me-2">x</span>
                    <input class="form-control form-control-sm px-2" type="number" style="max-width: 3.5rem;" min="1" value="1">
                  </div>
                </div>
                <div class="ps-3 border-start">
                  <a class="d-block text-danger text-decoration-none fs-xl" href="#" data-bs-toggle="tooltip" title="" data-bs-original-title="Remove" aria-label="Remove">
                  <i-feather name="x-circle"></i-feather>
                </a>
              </div>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center mb-4"><a class="d-block flex-shrink-0" href="shop-single.html"><img class="rounded" src="assets/img/05.jpg" alt="Product" width="60"></a>
            <div class="w-100 ps-2 ms-1">
              <div class="d-flex align-items-center justify-content-between">
                <div class="me-3">
                  <h4 class="nav-heading fs-md mb-1"><a class="fw-medium" href="shop-single.html">Smart Watch Series 5</a></h4>
                  <div class="d-flex align-items-center fs-sm"><span class="me-2">$364.99</span><span class="me-2">x</span>
                    <input class="form-control form-control-sm px-2" type="number" style="max-width: 3.5rem;" min="1" value="1">
                  </div>
                </div>
                <div class="ps-3 border-start">
                  <a class="d-block text-danger text-decoration-none fs-xl" href="#" data-bs-toggle="tooltip" title="" data-bs-original-title="Remove" aria-label="Remove">
                  <i-feather name="x-circle"></i-feather>
                </a>
              </div>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center mb-4"><a class="d-block flex-shrink-0" href="shop-single.html"><img class="rounded" src="assets/img/05.jpg" alt="Product" width="60"></a>
            <div class="w-100 ps-2 ms-1">
              <div class="d-flex align-items-center justify-content-between">
                <div class="me-3">
                  <h4 class="nav-heading fs-md mb-1"><a class="fw-medium" href="shop-single.html">Smart Watch Series 5</a></h4>
                  <div class="d-flex align-items-center fs-sm"><span class="me-2">$364.99</span><span class="me-2">x</span>
                    <input class="form-control form-control-sm px-2" type="number" style="max-width: 3.5rem;" min="1" value="1">
                  </div>
                </div>
                <div class="ps-3 border-start">
                  <a class="d-block text-danger text-decoration-none fs-xl" href="#" data-bs-toggle="tooltip" title="" data-bs-original-title="Remove" aria-label="Remove">
                  <i-feather name="x-circle"></i-feather>
                </a>
              </div>
              </div>
            </div>
          </div>
         
          <hr class="mt-0 mb-4">
          <div class="d-flex justify-content-between mb-3"><span class="h6 mb-0">Subtotal:</span><span class="text-nav">$776.99</span></div>
          <div class="d-flex justify-content-between mb-3"><span class="h6 mb-0">Tax:</span><span class="text-nav">—</span></div>
          <div class="d-flex justify-content-between mb-3"><span class="h6 mb-0">Shipping:</span><span class="text-nav">$12.35</span></div>
          <div class="d-flex justify-content-between mb-3"><span class="h6 mb-0">Total:</span><span class="h6 mb-0">$789.34</span></div>
          <div class="accordion pt-4 mb-grid-gutter" id="payment-methods">
            <div class="accordion-item bg-white shadow">
              <h2 class="accordion-header" id="heading-1">
                <button class="accordion-button no-indicator" type="button">
                  <div class="form-check w-100" data-bs-toggle="collapse" data-bs-target="#credit-card" aria-expanded="true" aria-controls="credit-card">
                    <input class="form-check-input" type="radio" id="credit-card-radio" name="payment_method" checked="">
                    <label class="form-check-label d-flex align-items-center fs-base text-heading mb-0 mt-1" for="credit-card-radio"><span>Credit Card</span><img class="ms-3" src="img/shop/cards.png" alt="Accepted cards" width="130"></label>
                  </div>
                </button>
              </h2>
              <div class="accordion-collapse collapse show" id="credit-card" aria-labelledby="heading-1" data-bs-parent="#payment-methods">
                <div class="accordion-body">
                  <div class="mb-3 pb-1">
                    <label class="form-label" for="cc-number">Card number</label>
                    <input class="form-control bg-none" type="text" id="cc-number" data-format="card" placeholder="0000 0000 0000 0000">
                  </div>
                  <div class="row g-0">
                    <div class="col-7 px-2">
                      <label class="form-label" for="cc-expiry">Expiry date</label>
                      <input class="form-control bg-none" type="text" id="cc-expiry" data-format="date" placeholder="mm/yy">
                    </div>
                    <div class="col-5 px-2">
                      <label class="form-label" for="cc-cvc">CVC</label>
                      <input class="form-control bg-none" type="text" id="cc-cvc" data-format="cvc" placeholder="000">
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
            <div class="accordion-item bg-white shadow">
              <h2 class="accordion-header" id="heading-3">
                <button class="accordion-button no-indicator collapsed" type="button">
                  <div class="form-check w-100" data-bs-toggle="collapse" data-bs-target="#cash" aria-expanded="false" aria-controls="cash">
                    <input class="form-check-input" type="radio" id="cash-radio" name="payment_method">
                    <label class="form-check-label d-flex align-items-center fs-base text-heading mb-0 mt-1" for="cash-radio">Cash on delivery</label>
                  </div>
                </button>
              </h2>
              <div class="accordion-collapse collapse" id="cash" aria-labelledby="heading-3" data-bs-parent="#payment-methods">
                <div class="accordion-body">
                  <p class="fs-ms mb-0">You have selected to pay with cash upon delivery.</p>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-primary d-block w-100" type="submit">Place order</button>
        </div>
      </div>
      <!-- <div class="col-md-4" id="cart">
        <div class="">
          <h2 class="h4 p-3">Your Cart</h2>
          <div class="card-body">
            <div class="d-flex align-items-center mb-3"><a class="d-block flex-shrink-0" href="shop-single.html"><img class="rounded" src="assets/img/05.jpg" alt="Product" width="60"></a>
                <div class="w-100 ps-2 ms-1">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="me-3">
                      <h4 class="nav-heading fs-md mb-1"><a class="fw-medium" href="shop-single.html">Smart Watch Series 5</a></h4>
                      <div class="d-flex align-items-center fs-sm"><span class="me-2">$364.99</span><span class="me-2">x</span>
                        <input class="form-control form-control-sm px-2" type="number" style="max-width: 3.5rem;" min="1" value="1">
                      </div>
                    </div>
                    <div class="ps-3 border-start"><a class="d-block text-danger text-decoration-none fs-xl" href="#" data-bs-toggle="tooltip" title="" data-bs-original-title="Remove" aria-label="Remove">
                      <i-feather name="x-circle"></i-feather>
                    </a></div>
                  </div>

                  
                </div>
                
              </div>
              <div class="d-flex align-items-center mb-3"><a class="d-block flex-shrink-0" href="shop-single.html"><img class="rounded" src="assets/img/05.jpg" alt="Product" width="60"></a>
                <div class="w-100 ps-2 ms-1">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="me-3">
                      <h4 class="nav-heading fs-md mb-1"><a class="fw-medium" href="shop-single.html">Smart Watch Series 5</a></h4>
                      <div class="d-flex align-items-center fs-sm"><span class="me-2">$364.99</span><span class="me-2">x</span>
                        <input class="form-control form-control-sm px-2" type="number" style="max-width: 3.5rem;" min="1" value="1">
                      </div>
                    </div>
                    <div class="ps-3 border-start"><a class="d-block text-danger text-decoration-none fs-xl" href="#" data-bs-toggle="tooltip" title="" data-bs-original-title="Remove" aria-label="Remove">
                      <i-feather name="x-circle"></i-feather>
                    </a></div>
                  </div>

                  
                </div>
                
              </div>
              <div class="d-flex align-items-center mb-3"><a class="d-block flex-shrink-0" href="shop-single.html"><img class="rounded" src="assets/img/05.jpg" alt="Product" width="60"></a>
                <div class="w-100 ps-2 ms-1">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="me-3">
                      <h4 class="nav-heading fs-md mb-1"><a class="fw-medium" href="shop-single.html">Smart Watch Series 5</a></h4>
                      <div class="d-flex align-items-center fs-sm"><span class="me-2">$364.99</span><span class="me-2">x</span>
                        <input class="form-control form-control-sm px-2" type="number" style="max-width: 3.5rem;" min="1" value="1">
                      </div>
                    </div>
                    <div class="ps-3 border-start"><a class="d-block text-danger text-decoration-none fs-xl" href="#" data-bs-toggle="tooltip" title="" data-bs-original-title="Remove" aria-label="Remove">
                      <i-feather name="x-circle"></i-feather>
                    </a></div>
                  </div>

                  
                </div>
                
              </div>
              <div class="d-flex align-items-center mb-3"><a class="d-block flex-shrink-0" href="shop-single.html"><img class="rounded" src="assets/img/05.jpg" alt="Product" width="60"></a>
                <div class="w-100 ps-2 ms-1">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="me-3">
                      <h4 class="nav-heading fs-md mb-1"><a class="fw-medium" href="shop-single.html">Smart Watch Series 5</a></h4>
                      <div class="d-flex align-items-center fs-sm"><span class="me-2">$364.99</span><span class="me-2">x</span>
                        <input class="form-control form-control-sm px-2" type="number" style="max-width: 3.5rem;" min="1" value="1">
                      </div>
                    </div>
                    <div class="ps-3 border-start"><a class="d-block text-danger text-decoration-none fs-xl" href="#" data-bs-toggle="tooltip" title="" data-bs-original-title="Remove" aria-label="Remove">
                      <i-feather name="x-circle"></i-feather>
                    </a></div>
                  </div>

                  
                </div>
                
              </div>
          </div>
          <div class="card-footer">
            <div class="d-flex justify-content-between mb-4"><span>Total:</span><span class="h6 mb-0">$776.99</span></div>
          </div>
        </div>
      </div> -->
    </div>
</section>

