  <!-- ========== signin-section start ========== -->
  <section class="signin-section">
    <div class="container-fluid">
    

      <div class="row g-0 auth-row">
            <!-- end col -->
        <div class="col-lg-6">
            <div class="signup-wrapper">
              <div class="form-wrapper">
                <form [formGroup]="contactUsFormGroup" id="contactUsForm">
                  <div class="row">
                    <div class="col-6">
                      <div class="input-style-1">
                        <label>Full Name</label>
                        <input 
                        type="text" 
                        placeholder="Full Name"
                        formControlName="full_name"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.full_name.errors }" />

                        <div *ngIf="submitted && f.full_name.errors" class="invalid-feedback">
                          <div *ngIf="f.full_name.errors.required">Full name is required</div>
                        </div>
                      </div>
                    </div>
                    <!-- end col -->
                    <div class="col-6">
                      <div class="input-style-1">
                        <label>Email</label>
                        <input 
                        type="email" 
                        placeholder="Email"
                        formControlName="email"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Email is required</div>
                          <div *ngIf="f.email.errors.email">Email is not valid</div>
                        </div>
                      </div>
                    </div>
                    <!-- end col -->
                    <div class="col-6">
                        <div class="input-style-1">
                          <label>Phone</label>
                          <input 
                          type="text" 
                          placeholder="Phone"
                          formControlName="phone"
                          class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                          
                          <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                            <div *ngIf="f.phone.errors.required">Phone is required</div>
                          </div>
                          
                        </div>
                      </div>
                      <!-- end col -->
                      <div class="col-6">
                        <div class="input-style-1">
                          <label>Subject</label>
                          <input 
                          type="text" 
                          placeholder="Subject"
                          formControlName="subject"
                          class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.subject.errors }" />
                          
                          <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
                            <div *ngIf="f.subject.errors.required">Subject is required</div>
                          </div>
                        </div>
                      </div>
                      <!-- end col -->

                      <div class="col-12">
                        <div class="input-style-1">
                          <label>Messages</label>
                          <textarea  
                          rows="5"
                          formControlName="message"
                          class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.message.errors }"></textarea>
                          <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                            <div *ngIf="f.message.errors.required">Message is required</div>
                          </div>
                        </div>
                      </div>
                      <!-- end col -->
                 
                    <div class="col-12">
                      <div
                        class="button-group d-flex flex-wrap">
                        <button
                          class="main-btn primary-btn btn-hover text-center"
                          (click)="onFormSubmit()">
                          Submit
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- end row -->
                </form>
              
              </div>
            </div>
          </div>
        <div class="col-lg-6">
          <div class="auth-cover-wrapper bg-primary-100">
            <div class="auth-cover">
              <div class="title text-center">
                <h1 class="text-primary mb-10">Contact Us</h1>
                <p class="text-medium">
                  For Queries on Applying and Technical issues:
                </p>
                <span><i class="lni lni-phone"></i> &nbsp;<a href="tel:011-26766700">011-26766700</a></span> <br>
                <span class="mt-3"><i class="lni lni-envelope"></i> &nbsp;<a href="mail Id:bee.neca2020@beeindia.gov.in">bee.neca2020@beeindia.gov.in</a></span>
              </div>
              <div class="cover-image">
                <img src="assets/images/auth/signin-image.svg" alt="" />
              </div>
              <div class="shape-image">
                <img src="assets/images/auth/shape.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
      
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
  </section>
  <!-- ========== signin-section end ========== -->
